<h1>NEW TO-DO</h1>
<h4>Yay! Stay In, get stuff done!</h4>

<form action="/tasks" method="post">
  <label for="task_name">Name</label>
  <input id="task_name" name="name" type="text">
  <label for="task_description">Description</label>
  <input id="task_description" name="description" type="text">
  <label for="task_start">Start Time (optional)</label>
  <input id="task_start" name="start" type="text">
  <label for="task_end">End Time (optional)</label>
  <input id="task_end" name="end" type="text">
  <button>Add Task</button>
</form>
