<h1><%= @task.name %></h1>

<h5>Description: <%= @task.description %></h5>
<p>Start-Time: <%= @task.start.to_s %></p>
<p>End-Time: <%= @task.end.to_s %></p>


<p><a href="/tasks">Return to task list</a></p>
